*{
    display: block;
    
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;

    background-color: var(--colorBg);

    overflow: hidden;

    & section{
        display: flex;
        justify-content: space-between;

        width: 100vw;
        height: 51vh;

        & article{
            display: flex;

            height: 100%;

            & img{
                height: 100%;
                padding: 0 0.3%;

                &:first-of-type{
                    padding: 0 0.3% 0 0;
                }

                &:last-of-type{
                    padding: 0 0 0 0.3%;
                }
            }

            & .annecdote{
                will-change: opacity;
                transition: opacity 0.25s;
            }
        }

        &:first-of-type{
            margin-bottom: 1%;
        }
    }
}

#lHaut{
    & article img{
        width: 11vw;
    }
}

#lBas {
    & article img{
        width: 6.5vw;
    }
}

#texture{
    content: '';
    position: fixed;
    top: 0;
    left: 0;

    display: block;
    width: 100vw;
    height: 100vh;

    opacity: 0.3;

    background-image: url('../assets/img/Texture_16.jpg');
    background-size: cover; 
    background-position: center;
    
    mix-blend-mode: hard-light;
}

#grain{
    content: '';
    position: fixed;
    top: 0;
    left: 0;

    display: block;
    width: 100vw;
    height: 100vh;

    background-image: url('../assets/img/grain.jpg');
    background-size: cover; 
    background-position: center;
    
    opacity: 0.4;
    mix-blend-mode: overlay;
}

#msgBox{
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    will-change: height;
    transition: height 0.25s;

    background-color: transparent;

    backdrop-filter: blur(15px);

    & #Box{
        display: flex;
        justify-content: center;
        align-items: center;

        opacity: 0;
        will-change : opacity;
        transition: opacity 0.25s;

        border-radius: 1.5vw;

        width: 75%;
        height: 65%;

        /*background-color: var(--colorMain);*/

        & p{
            font-family: 'Courier Prime';
            font-size: 1em;
            color: var(--colorMain);
            background-color: var(--colorBg);
        }

        & img{
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translateX(50%) translateY(-50%);

            width: 50%;
            height: 50%;
            object-fit: cover;
        }
    }
}

.annotation {
    position: fixed;

    max-width: 10em;

    font-family: 'Roboto';
    color: var(--colorMain);
    font-size: 1em;
    font-weight: 100;

    &:first-of-type{
        top: 24.3%;
        left: 23.7%;
        filter: blur(0.65px);
    }

    &:nth-of-type(2){
        text-align: right;
        max-width: 15em;
        top: 1.5%;
        right: 12.5%;
        filter: blur(0.3px);
    }

    &:nth-of-type(3){
        max-width: 13em;
        top: 88.3%;
        left: 53.2%;
        filter: blur(0.35px);
    }

    &:nth-of-type(4){
        max-width: 12em;
        top: 55%;
        left: 1%;
    }

    &:nth-of-type(5){
        max-width: 15em;
        top: 39.3%;
        left: 61.2%;
        filter: blur(0.8px);
    }

}