* {
    display: block;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root{
    --colorBg: #000;
    --colorMain: #FFF;
    --colorR: #FF0000;

    --sizeButton: 70px;
    --flou: 10px;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('../assets/typo/Courier_Prime/CourierPrime-Regular.ttf');
}

@font-face {
    font-family: 'Oswald';
    src: url('../assets/typo/Oswald/static/Oswald-Regular.ttf');
}

@font-face {
    font-family: 'Supply';
    src: url('../assets/typo/Supply-Free/PPSupplyMono-Regular.otf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/typo/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf');
}